.wave {
    display: inline-block;
    animation: wave 1s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        transform: translate(0, -3px);
    }

    50% {
        transform: translate(0, 3px);
    }

    100% {
        transform: translate(0, -3px);
    }
}