---
import Pride from '../components/Pride.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="TLDR: Silly goober"
	pubDate={new Date('March 01 2025')}
	heroImage="/me.webp"
>
	<p>
		Hey there! I'm Aurora or as my actual name, Nova. There's not a lot to say but I am 16.
	</p>

	<p>
		Here's some things about me:<br />
		-  <Pride flag="trans">Transgender</Pride><br />
		-  <Pride flag="pan">Pansexual</Pride>
	</p>
</Layout>
