---
import Pride from '../components/Pride.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="TLDR: Silly goober"
	pubDate={new Date('March 01 2025')}
	updatedDate={new Date('July 16 2025')}
	heroImage="/me.png"
>
	<p>
		Hey there! My name is Nova, but you probably know me as Aurora, that being my online name and all.
		I'm just a silly gal living life :3
	</p>

	<p>
		Here's some things about me:<br />
		-  Age: 17<br />
		-  DOB: 05/06/2008 (Nag me if the age is wrong)<br />
		-  Gender: <Pride flag="trans">Female</Pride><br />
		-  Sexuality: <Pride flag="pan">Pansexual</Pride>
	</p>
</Layout>
