---
import Pride from '../components/Pride.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="My Friends"
	description="These people... strange..."
>
	<p>
		These are my (strange) friends! Some of them will actually have links but some won't, some won't be here too.
	</p>

    <h2>Partner &#60;3</h2>

    <div class="friend-card friend-loved">
        <img src="/friends/alex.png" alt="Alex's profile picture" />
        <p>
            Alex - (Ask/Pronouns)<br />
            - <Pride flag="bi">Bisexual</Pride><br />
            - <Pride flag="genderfluid">Genderfluid</Pride><br />
        </p>
    </div><br />

    <h2>Friends</h2>

    <div class="friend-card friend-linked" title="Computer Cat's GitHub" onclick="location.href='https://github.com/computer-catt';">
        <img src="/friends/computercat.png" alt="Computer Cat's profile picture" />
        <p>
            Computer Cat - (They/Them)<br />
            - <Pride flag="pan">Pansexual</Pride><br />
            - <Pride flag="enby">Non-binary</Pride><br />
        </p>
    </div>

	<div class="friend-card">
        <img src="/friends/darkglitch.png" alt="Dark Gl1tch's profile picture" />
        <p>
            Dark Gl1tch - (He/Him)<br />
            - <Pride flag="straight">Straight</Pride><br />
            - <Pride flag="cisgender">Cisgender</Pride><br />
        </p>
    </div>

    <div class="friend-card">
        <img src="/friends/slimedude.png" alt="Slime Dude's profile picture" />
        <p>
            Slime Dude - (He/Him)<br />
            - <Pride flag="straight">Straight</Pride><br />
            - <Pride flag="cisgender">Cisgender</Pride><br />
        </p>
    </div>

    <div class="friend-card">
        <img src="/friends/techno.png" alt="Techno's profile picture" />
        <p>
            Techno - (He/Him)<br />
            - <Pride flag="straight">Straight</Pride><br />
            - <Pride flag="cisgender">Cisgender</Pride><br />
        </p>
    </div>

    <div class="friend-card">
        <img src="/friends/lunaeclipse.png" alt="Luna Ecl1ps3's profile picture" />
        <p>
            Luna Ecl1ps3 - (He/Him)<br />
            - <Pride flag="straight">Straight</Pride><br />
            - <Pride flag="cisgender">Cisgender</Pride><br />
        </p>
    </div>
</Layout>
